<footer role="detailinfo">
  <div class="footer">
    <div class="footer__socials">
      {% include socials.html %}
    </div>

    <div class="footer__content">
      <ul class="footer__links">
        {% for element in site.data.footer.navigation %}
        <li>
          <a href="{{ element.url }}">{{ element.title }}</a>
        </li>
        {% endfor %}
      </ul>
      <p class="footer__copyright">&copy; <span class="copyright-year">{{ site.time | date: '%Y' }}</span> <a
          href="https://www.gluehweintour.de">gluehweintour.de</a>. Alle Rechte vorbehalten.</p>
    </div>
  </div>
</footer>