<ul class="socials">
  <li>
    <a href="https://www.instagram.com/gluehwein" target="_blank" class="instagram">
      {% include glyphicons.html type="social" icon="4-instagram" %}
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/gluehweintour" target="_blank" class="facebook">
      {% include glyphicons.html type="social" icon="1-facebook" %}
    </a>
  </li>
  <li>
    <a href="https://www.twitter.com/gluehweintour" target="_blank" class="twitter">
      {% include glyphicons.html type="social" icon="3-twitter" %}
    </a>
  </li>
</ul>