$wine: #800000;

$facebook: #3b5998;
$github: #24292e;
$instagram: #fb3958;
$twitter: #55acee;
$xing: #006567;
$linked-in: #0976b4;
$mail: #565656;

$gray: #a0a0a0;
$gray-light: #fafafa;
$gray-middle: #d6d6d6;
$gray-border: #e6e6e6;
$gray-dark: #424242;

$black: #111;
$black-transparent: rgba(17, 17, 17, 0.25);
$white: #fff;
$white-transparent: rgba(255, 255, 255, 0.8);

