.page.page-home {
  .logo,
  footer {
    background-color: $white-transparent;
    border: 1px solid $gray-middle;
    margin: 0 auto;
    width: 50%;
    max-width: 100%;
  }

  header {
    border-bottom: none;

    .logo {
      border-top-width: 0;
      padding: 1.75rem 1rem;
    }
  }

  footer {
    border-bottom-width: 0;
    background-color: $white-transparent;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  @include grid-media($mobile-only) {
    .logo {
      width: 100%;
    }

    footer {
      padding-top: 1rem;
    }
  }

  main {
    div {
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      z-index: -1;

      &.image-left {
        left: 0;
        background-image: url("/assets/images/igi-und-manuel.jpg");
        width: 75%;
      }

      &.image-right {
        right: 0;
        background-image: url("/assets/images/feuerzangenbowle.jpg");
        width: 25%;
      }

      @include grid-media($mobile-only) {
        &.image-left {
          display: none;
        }

        &.image-right {
          width: 100%;
        }
      }
    }

    .glyphicons {
      color: $white;
      font-size: 2rem;
      position: absolute;
      top: calc(100% - 3rem);
      left: calc(50% - 1.25rem);
    }
  }
}

body.page:not(.consent-accepted) {
  @include grid-media($mobile-only) {
    main .glyphicons {
      top: calc(100% - 10rem);
    }
    footer {
      margin-bottom: 8rem;
    }
  }
  @include grid-media($tablet) {
    main .glyphicons {
      top: calc(100% - 8rem);
    }
    footer {
      margin-bottom: 5rem;
    }
  }
  @include grid-media($desktop) {
    footer {
      margin-bottom: 3rem;
    }
  }
}
