.page.page-home {
  .logo,
  .footer {
    background-color: $white-transparent;
    border: 1px solid $gray-middle;
    margin: 0 auto;
    width: 50%;
    max-width: 100%;
  }
  
  header {
    border-bottom: none;

    .logo {
      border-top-width: 0;
      padding: 1.75rem 1rem;
    }
  }
  
  .footer {
    border-bottom-width: 0;
    background-color: $white-transparent;
  }


  @include grid-media($mobile-only) {
    .footer,
    .logo {
      width: 100%;
    }
  }

  main {
    div {
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      z-index: -1;
      
      &.image-left {
        left: 0;
        background-image: url('/assets/images/igi-und-manuel.jpg');
        width: 75%;
      }
      
      &.image-right {
        right: 0;
        background-image: url('/assets/images/feuerzangenbowle.jpg');
        width: 25%;
      }

      @include grid-media($mobile-only) {
        &.image-left {
          display: none;
        }

        &.image-right {
          width: 100%;
        }
      }
    }
  }

  .footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
}
