.details {
  .transportkit {
    @import "../../vendors/transportkit/munich";
    @import "../../vendors/transportkit/nuremberg";
    @import "../../vendors/transportkit/regensburg";
  }

  @include clearfix;

  h2 {
    @include media-columns(12);
  }

  p {
    @include media-columns(12, 6);
    @include clearfix;
    
    height: 2rem;
    line-height: 2rem;
    white-space: pre-wrap;

    strong {
      font-size: 0.875rem;
      text-transform: uppercase;

      &::after {
        content: ':';
        padding-right: 0.5rem;
      }
    }

    .details__transport {
      display: inline-block;
      margin-left: 0.5rem;
    }

    @include grid-media($mobile-only) {
      &:not(:last-of-type) {
        padding-bottom: 1rem;
      }

      strong {
        display: block;
      }

      .details__transport {
        display: block;
        margin-left: 0;
      }
    }
  }
}