---
layout: compress
---
<!DOCTYPE html>
<html>

<head lang="{{ page.lang | default: 'de' }}">
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}Glühweintour</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="author" content="Manuel Schächinger">
  <meta name="author" content="Ignaz Schlennert">
  <meta name="description" content="Glühweintouren in und um München">
  <link href="https://fonts.googleapis.com/css?family=Kite+One|Open+Sans" rel="stylesheet">
  <link href="/assets/css/style.css?gc={{ site.github.build_revision }}" rel="stylesheet">
</head>

<body class="app">
  {{ content }}
  {% include consent.html %}
  {% include ga.html %}
  {% include js.html %}
</body>

</html>