<!DOCTYPE html>
<html>

<head lang="{{ page.lang | default: 'de' }}">
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}Glühweintour</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="author" content="Manuel Schächinger">
  <meta name="author" content="Ignaz Schlennert">
  <meta name="description" content="Glühweintouren in und um München">
  <link href="https://fonts.googleapis.com/css?family=Kite+One|Open+Sans" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body class="page{% if page.class %} page-{{ page.class }}{% endif %}">
  {% include header.html %}
  <main class="main">
    {{ content }}
  </main>
  {% include footer.html %}
  {% include consent.html %}
  {% include ga.html %}
  <script>
    window.checkCookie = function (cookieString) {
      if (0 <= document.cookie.indexOf(cookieString + '=')) {
        window[cookieString] = true;
      }

      return !!window[cookieString];
    };

    window.cookieStringGa = null;
    window.gaid = '{{ site.ga }}';
    window.initGa = function () {
      window.cookieStringGa = 'ga-disable-' + window.gaid;

      if (window.checkCookie(window.cookieStringGa)) {
        window[window.cookieStringGa] = true;
      }
    };
    window.activateGa = function () {
      window.dataLayer = window.dataLayer || [];
      window.gtag = function () { window.dataLayer.push(arguments); };

      if ('localhost' !== window.location.hostname) {
        window.gtag('js', new Date());
        window.gtag('config', window.gaid, { 'anonymize_ip': true });
      }
    };
    window.optOutGa = function () {
      document.cookie = window.cookieStringGa + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
      window[window.cookieStringGa] = true;
    };

    window.cookieStringCn = 'GLUEH-CONSENT';
    window.checkConsent = function () {
      var accepted = window.checkCookie(window.cookieStringCn);

      if (!accepted) {
        document.getElementById("consent").classList.add('consent--pending');
      } else {
        document.getElementsByTagName("body")[0].classList.add('consent-accepted');
      }

      return accepted;
    };
    window.acceptConsent = function () {
      var date = new Date();
      date.setYear(date.getFullYear() + 10);
      date.setDate(date.getDate() - 1);
      var value = 'YES+de+' + new Date().toISOString() + '+1';
      document.cookie = window.cookieStringCn + '=' + value + '; expires=' + date.toUTCString() + '; path=/';
      document.getElementById("consent").classList.add('consent--fade-out');
      document.getElementsByTagName("body")[0].classList.add('consent-accepted');
      window[window.cookieStringCn] = true;

      return false;
    };
    window.onload = function () {
      window.checkConsent();
      window.initGa();
      window.activateGa();
    }
  </script>
</body>

</html>