body {
  header {
    border-bottom: 1px solid $gray-middle;
    margin-bottom: 1rem;

    .logo {
      display: block;
      padding: 1rem;
      text-decoration: none;
      z-index: 1000;

      span {
        display: block;
        font-family: 'Kite One', sans-serif;
        text-align: center;

        &.title {
          color: $wine;
          font-size: 2rem;
        }

        &.slogan {
          color: $black;
          font-size: 0.875rem;
          letter-spacing: 3px;
        }
      }
    }
  }
  
  font-family: $font-clearsans-bk;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  
  .page {
    @include outer-container;

    > div {
      @include media-columns(12);
    }
  }


  a,
  a:active,
  a:focus {
    outline: 0;
  }

  a,
  a:active,
  a:visited {
    color: $wine;
  }

  a.button {
    background-color: $white;
    border: 1px solid $wine;
    border-radius: 0.25rem;
    color: $wine;
    display: inline-block;
    margin-top: 1.25rem;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;

    &:hover {
      background-color: $wine;
      border-color: $white;
      color: $white;
    }
  }

  h1 {
    font-family: 'Kite One', sans-serif;
    font-size: 2rem;
    font-weight: normal;
  }

  h1,
  h2,
  h3 {
    color: $wine;
  }

  @include grid-media($tablet) {
    br.mbr {
      display: none;
    }
  }
}

html,
body {
  min-height: 100%;
}