.header {
  @import 'logo';
  @import 'navigation';

  background-color: $white-transparent;
  border-bottom: 1px solid $gray-middle;
  left: 0;
  padding: 1rem 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1500;

  &__container {
    @include outer-container;
    @include clearfix;

    .logo {
      padding-left: 1.25rem;
    }

    ul.navigation {
      margin: 1rem 0 0 0;
      padding-right: 1.25rem;
    }
  }

  @include grid-media($tablet) {
    height: 6.375rem;

    &__container {
      .logo {
        float: left;
      }

      ul.navigation {
        float: right;
        margin: 2.75rem 0 0 0;
      }
    }
  }
}
