ul.navigation {
  list-style-type: none;
  margin: 2.75rem 0 0 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;

    a {
      padding: 0.25rem 0.75rem;
    }

    span.glyphicons {
      display: inline-block;
      font-size: 0.875rem;
      position: relative;
      left: -0.25rem;
      top: 0;
      width: 1rem;
    }

    &:hover > ul {
      display: block;
    }
  }

  ul {
    background-color: $white;
    display: none;
    position: absolute;
    width: 8rem;
  }
}
