ul.navigation {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;

    a {
      display: inline-block;
      padding: 0.25rem 0.75rem;
    }

    span.glyphicons {
      font-size: 0.875rem;
      left: -0.5rem;
      top: 0.125rem;
    }

    &:hover > ul {
      display: block;
    }
  }

  > li.item--separate {
    border-right: 1px solid $gray;
  }

  ul {
    background-color: $white;
    border: 1px solid $gray-middle;
    display: none;
    position: absolute;
    width: 15rem;
    z-index: 2000;

    li {
      display: block;

      &:not(:last-of-type) {
        border-bottom: 1px solid $gray-light;
      }

      &:hover {
        background-color: $wine;

        a {
          color: $white;
          text-decoration: none;
        }
      }

      &.item--separate {
        border-bottom: 1px solid $gray;
      }

      a {
        padding-bottom: 0.375rem;
        padding-top: 0.375rem;
      }
    }
  }

  @include grid-media($mobile-only) {
    display: none;
    background: linear-gradient(0, $white, $white, $white-transparent);

    li {
      display: block;
      margin-left: 0.75rem;

      span.glyphicons {
        left: auto;
        position: absolute;
        right: 1.25rem;
      }

      &:hover {
        > a {
          font-weight: bold;
        }
      }

      ul {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $gray-light;
        position: relative;
        width: 100%;

        li {
          &:not(:last-of-type) {
            border-bottom: none;
          }

          &.item--separate {
            border-bottom: 1px solid $gray-light;
          }
        }
      }
    }
  }
}

.mobile-menu {
  color: $wine;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 1.25rem;
  top: 1.75rem;

  @include grid-media($tablet) {
    display: none;
  }
}
