ul.navigation {
  list-style-type: none;
  margin: 2.75rem 0 0 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;

    a {
      padding: 0.25rem 0.75rem;
    }

    span.glyphicons {
      font-size: 0.875rem;
      left: -0.5rem;
      top: 0.125rem;
    }

    &:hover > ul {
      display: block;
    }
  }

  ul {
    background-color: $white;
    display: none;
    position: absolute;
    width: 8rem;
  }

  @include grid-media($mobile-only) {
    display: none;
  }
}

.mobile-menu {
  color: $wine;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 1.25rem;
  top: 1.75rem;
}
